// Jumbotron
header {
    background: url('../img/pirate-ship.jpg') no-repeat center;
    background-size: cover;
  }
    h1 {
    font-family: 'Barlow', Calibri, serif; 
  }
  
  .container {
    padding-left: 0;
    padding-right: 0;
  }